# ===============================
# PROJECT IDENTITY
# ===============================
STUDENT_ID=your_student_id
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=asia-southeast2
GCP_LOCATION=asia-southeast2

# ===============================
# GOOGLE CLOUD STORAGE
# ===============================
GCS_BUCKET=your-student-bucket
GCS_RAW_PREFIX=data/data_raw

GCS_BATCH_APRIL_OBJECT=data/data_raw/green_tripdata_2026-04.parquet
GCS_BATCH_MAY_OBJECT=data/data_raw/green_tripdata_2026-05.parquet
GCS_TAXI_ZONE_OBJECT=data/data_raw/taxi_zone_lookup.csv

# ===============================
# BIGQUERY
# ===============================
BQ_STAGING_DATASET=your_staging_dataset
BQ_BATCH_TABLE_PREFIX=stg_green_taxi
BQ_TAXI_ZONE_TABLE=stg_taxi_zone
BQ_SILVER_DATASET=your_silver_dataset

# ===============================
# BATCH PERIOD
# ===============================
BATCH_YEAR=2026
BATCH_MONTH_APRIL=04
BATCH_MONTH_MAY=05

# ===============================
# AIRFLOW
# ===============================
AIRFLOW_GCP_CONN_ID=google_cloud_default
AIRFLOW_DAG_ID=your_student_id_green_taxi_batch
AIRFLOW_UID=50000

# ===============================
# STREAMING
# ===============================
PUBSUB_TOPIC=your-student-green-taxi-events
PUBSUB_SUBSCRIPTION=your-student-green-taxi-events-sub

BQ_STREAM_TABLE=stg_green_taxi_stream
BQ_REJECTED_STREAM_TABLE=rejected_stream_events

DATAFLOW_JOB_NAME=your-student-green-taxi-streaming
DATAFLOW_REGION=asia-southeast2
DATAFLOW_STAGING_LOCATION=gs://your-bucket/dataflow/staging
DATAFLOW_TEMP_LOCATION=gs://your-bucket/dataflow/temp